@import 'logo';

.App {
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

.App-logo {
  height: 30%;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.loginBtn {
  color: $primaryColor;
  background-color: white;
  border-style: solid;
  border-color: $primaryColor;
  border-radius: 15px;
}

.loginBtn:hover{
  background-color: $primaryColor;
  color: white;
}

.loginBtn p{
  margin: 3% auto;
  font-weight: 800;
  width: 80%;
  height: 100%;
  max-height: 30px;
  font-size: calc(0.5vw + 10px);
  overflow-y: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}