@import "./variables";
@import "./app";
@import "./banner";

html, body, #root {
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
